body {
  font-family: "DIN Alternate";
  text-align: center;
  font-size: 135%;
}
body *:not(hr):not(table) {
  margin: 0;
}
h1 {
  font-size: 200%;
}
button {
  display: inline;
  font-size: 100%;
  font-family: "DIN Alternate";
  padding: 10px;
  background-color: white;
}
a {
  display: block;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
td button {
  width: 65px;
  height: 65px;
}
audio {
  display: none;
}
#page-home {
  text-align: center;
}
#page-home table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
#mlibrary-button1,#mlibrary-button2 {
  display: none;
}
#page-ytselect {
  flex-flow: column;
  height: 100vh;
}
#page-ytselect td {
  width: 50%;
}
#page-ytselect table,#page-ytselect button {
  width: 100%;
}
#ytselect-queueButton {
  color: gray;
}
webview.ytselect {
  flex-grow: 1;
}
webview.hidden {
  width: 0;
  height: 0;
}
.page {
  display: none;
  text-align: left;
}
