body {
  font-family: "DIN Alternate";
  text-align: center;
  font-size: 135%;
}
body *:not(hr):not(table) {
  margin: 0;
}
h1 {
  font-size: 200%;
}
button {
  display: inline;
  font-size: 100%;
  font-family: "DIN Alternate";
  padding: 13px;
}
a {
  display: block;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
td button {
  width: 60px;
  height: 60px;
}
#page-home {
  text-align: center;
}
#mlibrary-button1,#mlibrary-button2 {
  display: none;
}
.page {
  display: none;
  text-align: left;
}
