body {
  font-family: "DIN Alternate";
  text-align: center;
  font-size: 135%;
}
body *:not(hr) {
  margin: 0;
}
h1 {
  font-size: 200%;
}
button {
  display: inline;
  font-size: 100%;
  font-family: "DIN Alternate";
  padding: 7.5px;
}
a {
  display: block;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
#page-home {
  text-align: center;
}
#mlibrary-button1,#mlibrary-button2 {
  display: none;
}
.page {
  display: none;
  text-align: left;
}
